.Listings {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 75px;
  text-decoration: none;
  margin-top: 5vmin;
}

.ListingItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  width: 350px;
  height: 350px;
}

.ListingItem img {
  border-radius: 20px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
