.ListingDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ListingDetails {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10vmin;
  width: 70vw;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.ListingPhoto img {
  border-radius: 20px;

}

li {
  list-style-type: none;
  text-align: left;
  line-height: 2;
  font-weight: bold;
}

.ListingButtons {
  position: fixed;
  bottom: 10%;
}

.ListingInfo {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}